<div id="metrics-display">
  <%= render partial: 'dashboard/metrics_card', collection: @metrics, as: :metric %>
</div>

<script type="module">
  import { createRoot } from 'react-dom/client';
  import MetricsDisplay from '../../javascript/components/gui/views/components/MetricsDisplay';

  document.addEventListener('DOMContentLoaded', () => {
    const root = document.getElementById('metrics-display');
    createRoot(root).render(
      React.createElement(MetricsDisplay, {
        metrics: <%= @metrics.to_json.html_safe %>
      })
    );
  });
</script>